
.servi {
  background-color: #F1EFE1;
  margin: 0 auto;
  padding: 2px;
  color: #aecf3e;
  border-radius: 5px;
}

.servicios-title{
  padding-top: 20px;
  padding-left: 30px;
  margin: 0 auto;
  font-size: 3.5rem;
  color: #7AAA39;
}

.services{
  color: #192954 !important;
  font-size: 1.5rem !important;
}

.serv-imag {
  border-radius: 5px;
  height: 14vmax !important;
  width: 17vmax !important;
}

.card {
  align-items: center;
  border: none;
}

#flex-container {
  margin: 0 auto;
}
#flex {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .serv-imag {
    border-radius: 5px;
    height: 100% !important;
    width: 300px !important
  }

}

@media (max-width: 600px) {
  .serv-imag {
    border-radius: 5px;
    height: 100% !important;
    width: 300px !important
  }
}

