.contacta{
    background-color: white;
    margin:0 auto;
    margin-top: 0px;
    padding: 20px;
    color: #AECF3E;
    border-radius: 10px;
}
.cont-titulo{
    text-align:left;
}

.text-bl{
    color:black;
}
.boton{
    margin: 0 auto
}