.contacta{
    background-color: white;
    margin:0 auto;
    margin-top: 0px;
    padding: 5px;
    color: #AECF3E;
    border-radius: 5px;
}
.cont-titulo{
    text-align:left;
}

.text-bl{
    color:black;
}
.boton{
    margin: 0 auto
}

.btn-contact{
    margin: 20px;
    background-color: #AECF3E;
    border: 0 transparent;
}