.navbar{
    top: 0;
    position: fixed;
    z-index: 10;
    width:100%;
}
.logo-nav{
    width: 280px;
}
.navbar-bg{
    background-color: #3BA338;
}
.space{
    width:100%;
    height:120px
}
.logo-nombre{
    color:white;
}

.logo-nav-iso{
    display: none;
}
#navbarSupportedContent h5{
    font-size: 1.5rem;
    margin: 0 20px;
}
#navbarSupportedContent h5:hover{
    color: rgb(214, 214, 214)
}