.servi {
  background-color: #F1EFE1;
  margin: 0 auto;
  padding: 5px;
  color: #7AAA38;
  border-radius: 5px;
}
.serv-imag {
  border-radius: 5px;
  height: 200px;
  width: 300px;
}
.card {
  color: #192954;
  align-items: center;
  border: none;
}
#flex-container {
  margin: 0 auto;
}
#flex {
  margin: 0 auto;
}

.opinan{
  color: white;
  font-size: 4rem;
}

@media (max-width: 900px) {
  .opinan{
      font-size: 2.8rem;
  }

}