.servi {
  background-color: #F1EFE1;
  margin: 0 auto;
  padding: 5px;
  color: #7AAA38;
  border-radius: 5px;
}
.serv-imag {
  border-radius: 5px;
  height: 200px;
  width: 300px;
}
.card {
  color: black;
  align-items: center;
  border: none;
}
#flex-container {
  margin: 0 auto;
}
#flex {
  margin: 0 auto;
}

