.imag{
    border-radius: 5px;
    height: 180px;
    width: 250px;
}

.cont-flex-catalogo{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 90%
}


.btn-arbol:hover{
    background-color: #AECF3E;
    border: 0 transparent;
}

#titulo-map{
    font-size: 1.5rem !important;
    color: #192954;
}

#btn-catalogo{
    background-color: #3BA338 !important;
    border: 0px solid transparent;
}

#btn-catalogo:hover{
    background-color: blue !important;
}