.serviciosBanner{
    width: 100%;
    height: 120px;
    background-color: #DBB523;
    border-bottom: 3px white solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center
}

.serviciosBanner h1{
    font-size: 3rem;
    margin-right: 70px;
    color: white;
}

.img-contenedor-servicios{
    width: 95%;
    margin: auto;
}

.img-contenedor-servicios img{
    width: 100%;
}

.tituloServicios{
  font-size: 3rem;
  margin-left: 30px;
  font-weight: bold;
  color: white;  
}

.serviciosFlex{
    width: 80%;
    margin: auto;
    display: flex;
    background-color: #F1EFE1;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

.serviciosFlex img{
    width: 450px;
    margin: 20px 0;
}

@media (max-width: 900px) {
    .serviciosFlex img{
        width: 100%;
        margin: 20px 0;
    }

    .img-contenedor-servicios img{
        width: 100%;
    }
  
  }