.serviAcor{
    background-color: white;
    margin:0 auto;
    padding: 20px;
    color: gold;
    border-radius: 30px;
    display:flex;
    flex-wrap: wrap;
}
.serv-card{
    width: 18rem;
    padding: 10px;
    margin-top:10px
}
.iconos{
    height: 100px;
    width: auto;
}
.servi-title{
    font-size: 1.7vmax;
    color: rgb(25,41,84)
}
.servi-text{
    font-size: 1.2vmax;
}
.serv-texto{
    color:rgb(25,41,84);
    margin:20px
}