.logo-foot{
    width:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footy{
    width: 100%;
    height: max-content;
    background-color: green;
    padding:30px;
    justify-content: center;
    color:white;
}
.foot-logo{
    color:white
}